html {
  scroll-behavior: smooth;
}
.containerr:before{
    background-color: #555 !important;
}
.navbar-burger span{
    width: 25px !important;
}
@media(min-width:1100px){
   
.menu-menu ul ul {
    display: none;
}
.footer-menu li
 {
    display: inline;
    list-style-type: none;
    margin:10px;
    color:#aaaaaa;
    text-align: center !important;
}
.menu-menu li{
      display: inline;
    list-style-type: none;
    margin:10px;
    color:#aaaaaa;
    text-align: left !important;
}
.menu-menu ul li:hover > ul {
    display: block;

}
.menu-menu ul li li :hover > ul {
    display: block;
}


#menu-item-215 ,#menu-item-212 ,#menu-item-178 , #menu-item-213, #menu-item-214{
padding: 35px 10px;
font-size: 17px !important;
    color: #4A4A4A !important;
    font-family: 'Softylus-bold';
    text-transform: uppercase;
    font-weight: 600;
}

#menu-item-215:hover a ,#menu-item-212:hover a,#menu-item-178:hover a, #menu-item-213:hover a , #menu-item-214:hover a{
color: #555 !important;
cursor: pointer;

}


.sub-menu{
    padding: 5px 0px !important;
}
.menu-menu ul ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 35px;
    padding-top: 55px;
    margin-top: 15px;
    z-index:-4;
    padding: 7px;
    width: 280px;
    color: #4A4A4A;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}
.menu-menu ul ul li a {
    /* display: block !important; */
   text-align: left;
    float: left;
    padding: 10px 10px;
}

.menu-menu ul ul a:hover {
    color: #383838;
    background-color: #f7f7f7;
}

.menu li li a{
  /* display: block; */
  width: 93%;

}
.menu li a:hover {
     color: #333;
}
.menu li{

    margin: 5px 10px !important;
}
.menu ul li {

    width: 100%;
    position: relative;

    display: block;
}
}

.redAcc{
    background-color: rgba(203, 2, 2, 0.15);
    padding: 5% !important;
    border-radius: 4px;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.number-styles{
    font-size: 70px;
    padding: 10px;
    padding-bottom: 0 !important;
    color: #F7F7F7 !important;
}

.img-background{
    background-color: #FCFCFC;
        background-image: url(https://ik.imagekit.io/softylus/Vector_1_CNPFL1Y-Iz.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        }

.img-background-bm {

    background-image: url(https://ik.imagekit.io/softylus/bg_GuhcjpdSGT53l.svg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top left !important;
}

.about-box-bm {
    background-color: #CE1212 ;
   opacity: 90%;
    border-radius: 10px;
}
.about-box-bm:hover {
    transform: scale(1.05);
    transition: .3s
}
.about-box{
    background-color: #fff;

    border-radius: 10px;
}
.about-box:hover {
      background-color: #CE1212 !important;
      transition: .5s;
}
.about-box:hover .column {
    color: white !important;

}
.about-box:hover h2 {
    color: white !important;

}
.about-box:hover .button {
    color: #333 !important;
    background: #fff !important;
    opacity: .9;
}

.bg-white{
    background-color: #fff !important;
}
.bg-white:hover  {
    background-color: #CE1212 !important;
    transition: .5s;
}
.bg-white:hover .column {
   color: white !important;

}
.bg-white:hover .button {
    color: #333 !important;
    background: #fff !important;
    opacity: .9 ;
}
.font-24{
    font-size: 24px !important;
}
.myBox{
    box-shadow:4px 12px 47px 0 rgba(0, 0, 0, .1) !important;
    border:0;
    padding: 1.25rem !important;
    margin: 0 2px !important;
    border-radius: 18px;
    width: 50% !important;
  
}

.design-iamge {
    width:80% !important;
    float:right !important;
}
@media screen and (max-width: 768px) {
    .about-box-bm:hover {
    transform: scale(1);
}
     .x-secrol {
  display: flex;
  gap: 20px;

  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch !important;
  scroll-padding: 1rem;
  padding: 1rem;
  margin: 3rem auto 0;
  border-radius: 5px;
}

.x-item-scroll {
    overflow-y: hidden;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex: 0 0 280px !important;
  width: 200px;
  height: 320px;
  scroll-snap-align: start;
  line-height: unset;
  font-size: 12px;
}
    .design-iamge {
        width:80% !important;
        float:none !important;
    }
}
.small-header{
    letter-spacing: 4px;
    color: #B00202;
    font-weight: 200;
}
.line-height{
    line-height: 1;
}

.line-height-p {
    line-height: 1.2;
}
.font-weight-smaill{
    font-weight: 200;
}
.bg-gray{
    background-color: #F7F7F7 !important;
}
.section-background-img{
    background-image: url(https://s1.softylus.com/wp-content/uploads/2020/12/Rectangle-6.png) !important;
    background-size: contain !important;
    background-repeat:no-repeat !important;
}
.column-color-white{
    background-color: rgba(256, 256, 256, .8) !important;
    
}
.poster-background-img {

    background-image: url(https://s1.softylus.com/wp-content/uploads/2020/12/we-can-design-post-3.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.poster_font {
    font-size: 177px !important;
    padding-left: 35px;
    padding-right: 115px;
}
.poster_P
{
    font-size: 50px !important;
    padding: 20px 30px;
    
}

.uk-section {
    background-color: #666
}

.owl-carousel {
    position: relative;
    margin-top: 30px;
}

.owl-nav {
    position: absolute;
    top: -60px;
    left: 10px;
}

.uk-card-primary {
    border-radius: 8px;
}

h3 {
    margin-top: 10px
}

.uk-card> :last-child {
    margin-top: 0;
    margin-bottom: 10px
}

p {
    margin-top: 30px;
    margin-bottom: 0;
}



.owl-theme .owl-nav [class*='owl-'] {
    background: #383838;
}

.owl-dots {
    margin-top: 30px;
}

.uk-card-title {
    padding-bottom: 20px
}
/*@media screen and (max-width: 1023px){*/
/*    .menu li {*/
/*        text-align: left !important;*/
/*    }*/
/*}*/
@media(max-width: 777px) {
    #menu-item-212 a{
        /* display: none; */
    }
    .myBox {
        width: 100% !important;
    }


    .m-t {
        margin: auto !important;
    }

    .poster_font {
        font-size: 77px !important;
        text-align: left !important;

        padding-left: 0 !important;
    }

    .mobile-padding {
        padding: 0 !important;
        margin: 10px !important;
        text-align: left;
        font-size: 30px !important;
    }


    .margin-section {
        margin-top: 167px;
    }

    /* reverse the columns */
    .columnss {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .columns .first_div {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

    .columns .second_div {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
}


/* portfolio section  */
/* CSS Pretty Print */
.ms--images {
    position: relative;
    overflow: hidden;
}

.ms--images.ms-containerr--horizontal {
    width: 100%;
    height: 400px;
    max-width: 100%;
}

.ms--images.ms-containerr--horizontal .ms-track {
    left: calc(50% - 350px);
}

.ms--images.ms-containerr--horizontal .ms-slide {
    display: inline-flex;
}

.ms--images .ms-track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.ms--images .ms-slide {
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 400px;
    user-select: none;
}

.ms--images {
    left: calc(50% - 280px);
}

.ms--images.ms-containerr--horizontal .ms-track {
    left: -70px;
}

.ms--images .ms-slide:nth-child(1) .ms-slide__image {
    background-blend-mode: overlay;
    background-color: #555!important;
    background-image: url('https://ik.imagekit.io/softylus/screencapture-sgconsulting-ae-2021-01-21-09_53_09_nha7s57Ka.png');
}

.ms--images .ms-slide:nth-child(2) .ms-slide__image {
    background-blend-mode: overlay;
    background-color: #555!important;
    background-image: url('https://ik.imagekit.io/softylus/screencapture-jopanda-market-2021-01-21-09_54_24_TwOllE5wCj3hZ.png');
}

.ms--images .ms-slide:nth-child(3) .ms-slide__image {
    background-blend-mode: overlay;
    background-color: #555!important;
    background-image: url('https://ik.imagekit.io/softylus/screencapture-businenglish-beonline-2021-01-21-09_55_13_4Oiub6IeNF3_.png');
}

.ms--images .ms-slide:nth-child(4) .ms-slide__image {
    background-blend-mode: overlay;
    background-color: #555!important;
    background-image: url('https://ik.imagekit.io/softylus/screencapture-lapielbox-2021-01-21-09_47_53_aFVs3zEet80KU.png');
}

.ms--images .ms-slide__image-containerr {
    width: 80%;
    height: 80%;
    background-color: #fff;
    overflow: hidden;
}

.ms--images .ms-slide__image {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.ms--numbers {
    position: relative !important;
    overflow: hidden !important;
}

.ms--numbers.ms-containerr--horizontal {
    width: 240px !important;
    height: 240px !important;
    max-width: 100% !important;
}

.ms--numbers.ms-containerr--horizontal .ms-track {
    left: calc(50% - 120px) !important;
}

.ms--numbers.ms-containerr--horizontal .ms-slide {
    display: inline-flex !important;
}

.ms--numbers .ms-track {
    display: flex !important;
    position: absolute !important;
    white-space: nowrap !important;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}

.ms--numbers .ms-slide {
    align-items: center !important;
    justify-content: center !important;
    width: 240px !important;
    height: 240px !important;
    user-select: none !important;
}

.ms--numbers {
    position: absolute !important;
    left: calc(50% - 380px) !important;
    top: calc(50% - 300px) !important;
    /* z-index: -1 !important; */
    pointer-events: none !important;
}

.ms--numbers .ms-slide {
    font-size: 9em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.2);
}

.ms--titles {
    position: relative;
    overflow: hidden;
}

.ms--titles.ms-containerr--vertical {
    width: 400px;
    height: 170px;
    max-height: 100%;
}

.ms--titles.ms-containerr--vertical .ms-track {
    flex-direction: column;
    top: calc(50% - 85px);
}

.ms--titles.ms-containerr--vertical.ms-containerr--reverse .ms-track {
    flex-direction: column-reverse;
    top: auto;
    bottom: calc(50% - 85px);
}

.ms--titles.ms-containerr--vertical .ms-slide {
    display: flex;
}

.ms--titles .ms-track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    color: #CE1212;
    padding: 0;
    margin: 0;
    list-style: none;
}

.ms--titles .ms-slide {
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 170px;
    user-select: none;
}

.ms--titles {
    position: absolute;
    left: calc(50% - 420px);
    top: calc(50% - 85px);
    color: #CE1212 !important;
    
    z-index: 1;
    pointer-events: none;
}

.ms--titles .ms-track {
    white-space: normal;
}

.ms--titles .ms-slide {
    font-size: 3.3em;
    font-weight: 600;
}

.ms--titles .ms-slide h3 {
    margin: 0;

}

.ms--links {
    position: relative;
    overflow: hidden;
}

.ms--links.ms-containerr--vertical {
    width: 120px;
    height: 60px;
    max-height: 100%;
}

.ms--links.ms-containerr--vertical .ms-track {
    flex-direction: column;
    top: calc(50% - 30px);
}

.ms--links.ms-containerr--vertical .ms-slide {
    display: flex;
}

.ms--links .ms-track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.ms--links .ms-slide {
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 60px;
    user-select: none;
}

.ms--links {
    position: absolute;
    left: calc(50% - 420px);
    top: calc(50% + 105px);
    z-index: 1;
}

.ms--links .ms-track {
    white-space: normal;
}

.ms--links .ms-slide__link {
    font-weight: 600;
    padding: 5px 0 8px;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.pagination {
    display: flex;
    position: absolute;
    left: calc(50% - 420px);
    top: calc(100%);
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
}

.pagination__button {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination__button:before,
.pagination__button:after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    width: 100%;
    box-shadow: 0 1px 0 #0b0d14;
}

.pagination__button:before {
    height: 2px;
    background-color: #6a3836;
}

.pagination__button:after {
    height: 3px;
    background-color: #CE1212;
    opacity: 0;
    transition: 0.5s opacity;
}

.pagination__item--active .pagination__button:after {
    opacity: 1;
}

@media screen and (max-width: 860px) {
    .ms--numbers {
        left: calc(50% - 120px);
    }

    .ms--titles {
        left: calc(50% - 200px);
        top: calc(50% - 135px);
        text-align: center;
    }

    .ms--links {
        left: calc(50% - 60px);
        top: calc(50% + 80px);
    }

    .pagination {
        left: 50%;
        top: calc(100% - 50px);
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 600px) {
    .ms--images {
        overflow: visible;
    }
}

@media screen and (max-width: 400px) {
    .ms--titles .ms-slide {
        transform: scale(0.8);
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



.ms-slide__link {
    color: #CE1212 !important;
    text-decoration: none;
    cursor: pointer;
}

.containerr {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
}

.containerr:before {
    content: '' !important;
    position: absolute !important;
    left: -150% !important;
    top: 0 !important;
    width: 300% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    transform: rotate(45deg) !important;
    z-index: -1 !important;
}

.header {
    display: flex;
    align-items: center;
    padding: 30px;
}

.header__logo {
    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: -1px;
}

.header__logo span {
    display: inline-block;
    transform: translateY(4px) rotate(180deg);
    pointer-events: none;
}

.header__menu {
    margin-left: auto;
}

.header__menu__list,
.footer__menu__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__menu__link {
    margin-left: 50px;
}

.footerr {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}

.footer__menu__link {
    margin-left: 50px;
    color: rgba(255, 255, 255, 0.5);
}

.sliders-containerr {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

@media screen and (max-width: 860px) {

    .header__menu,
    .footerr {
        display: none;
    }
}